In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt      
import seaborn as sns 

data_df = pd.read_csv("./car_price_prediction_.csv")
data_df.head()

,Car ID,Brand,Year,Engine Size,Fuel Type,Transmission,Mileage,Condition,Price,Model
0,1,Tesla,2016,2.3,Petrol,Manual,114832,New,26613.92,Model X
1,2,BMW,2018,4.4,Electric,Manual,143190,Used,14679.61,5 Series
2,3,Audi,2013,4.5,Electric,Manual,181601,New,44402.61,A4
3,4,Tesla,2011,4.1,Diesel,Automatic,68682,New,86374.33,Model Y
4,5,Ford,2009,2.6,Diesel,Manual,223009,Like New,73577.10,Mustang

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt      
import seaborn as sns 

data_df = pd.read_csv("./car_price_prediction_.csv")
data_df.head().style.background_gradient(cmap='coolwarm',axis=0)